<configuration>
    <springProfile name="default">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>
                    %highlight(%-5level) [%thread] %cyan(%d{HH:mm:ss.SSS}) %yellow(%logger{36}) - %msg%n
                </pattern>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
</configuration>
